---
title: Page Not Found
permalink: 404.html

layout: layouts/layout-page
---
    <h1 class="title txt-center">{{ title }}</h1>
    <p class="p-summary txt-center">Sorry.</p>
    <p>On December 2<sup>nd</sup> 2019 I deleted all my content, and started fresh. If you're following a link from elsewhere you can try the <a href="{{ "https://web.archive.org/web/*/https://davidjohnmead.com" | url }}">Wayback Machine</a> which may have a copy.</p>
    <p>You can also visit the <a href="{{ "/" | url }}">home page</a> to read anything new I've posted.</p>
