---
title: Living and working on the web, with a British point of view.
description: The personal website of David Mead. A British guy living in the USA.

isFront: true


layout: layouts/layout-page
---
<h1 class="title txt-center">David John Mead</h1>
<p class="summary">This is my personal site where I post thoughts, photos, links, and sometimes experiment with HTML &amp; CSS.</p>

<section>

<h2>Most recent posts:</h2>
<div class="tile-wrapper">
	{% for post in collections.post | reverse %}
		{% if loop.index0 < 3 %}
			<div class="tile">
				<a class="" href="{{ post.url | url }}" title="">
					<div class="tile-head">
						<h3 class="tile-heading">{{ post.data.title }}</h3>
					</div>
					<div class="tile-body">
						<time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
						<p>{{ post.data.summary }}</p>
					</div>
				 </a>
			 </div>
		{% endif %}
	{% endfor %}
</div>
	
	<p>See <a href="/tags/post/" title="">all posts</a>.</p>


<div class="caption">
<h2>Topics</h2>
<p>Most of what I post fits under the following topics: <a href="/tags/listen/" title="all posts tagged listen">listen</a>, <a href="/tags/play/" title="all posts tagged play">play</a>, <a href="/tags/eat/" title="all posts tagged eat">eat</a>, <a href="/tags/read/" title="all posts tagged read">read</a>, <a href="/tags/watch/" title="all posts tagged watch">watch</a>, and <a href="/tags/code/" title="all posts tagged code">code</a>.</p>
<p>Here's the latest posts under each topic.</p>

			<h3>listen</h3>
			<ul>
			{% for post in collections.listen | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			<h3>play</h3>
			<ul>
			{% for post in collections.play | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			<h3 class="">eat</h3>
			<ul class="">
			{% for post in collections.eat | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			<h3 class="">read</h3>
			<ul class="">
			{% for post in collections.read | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			<h3 class="">watch</h3>
			<ul class="">
			{% for post in collections.watch | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			<h3 class="">code</h3>
			<ul class="">
			{% for post in collections.code | reverse %}
			  {% if loop.index0 < 2 %}
			    <li><a href="{{ post.url | url }}" title="">{{ post.data.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
			</div>
</section>

<section class="p-author h-card">
	<div class="clearfix">
		<h2>About <span class="p-name"><a class="u-url url fn" href="https://davidjohnmead.com" rel="me">
			<span class="p-given-name given-name">David</span>
			<span class="p-family-name family-name">Mead</span>
		</a></span></h2>
		<p><img class="u-photo left img-small img-border" width="300px" height="300px" src="/img/davidmead-social-sml.jp2" alt="black and white profile photo"></p>
	<p>I've been working with the web since the 90's. Started as Front-end Developer, focus now is User Experience.</p>
	<p>An Englishman abroad. Has called Cleveland, <abbr title="Ohio">OH</abbr> home since 2001.</p>
	</div>

	<div>
	<h3>Elsewhere online:</h3>
	<ul class="list-plain list-social">
	<li>
	<i class="las la-link"></i> <a href="https://letterboxd.com/davidmead/" rel="me" class="u-url">Letterboxd</a>
	</li>
        <li>
            <i class="lab la-github"></i> <a href="https://github.com/davidmead" rel="me" class="u-url">Github</a>
        </li>
        <li>
            <i class="lab la-linkedin"></i> <a href="https://www.linkedin.com/in/davidmead" rel="me" class="u-url">LinkedIn</a>
        </li>
        <li>
            <i class="lab la-flickr"></i> <a href="http://www.flickr.com/people/davidmead/" rel="me" class="u-url">Flickr</a>
        </li>
        <li>
            <i class="lab la-soundcloud"></i> <a href="http://soundcloud.com/davidmead-1" rel="me" class="u-url">Soundcloud</a>
        </li>
        <li>
            <i class="las la-link"></i> <a href="https://indieweb.org/User:Davidjohnmead.com" rel="me" class="u-url">Indieweb</a>
        </li>
        <li>
            <i class="las la-link"></i> <a href="https://huffduffer.com/davidmead" rel="me" class="u-url">Huffduffer</a>
        </li>
        <li>
            <i class="las la-rss"></i> <a href="https://micro.blog/davidmead" rel="me" class="u-url">Micro.blog</a>
        </li>
        <li>
            <i class="lab la-medium"></i> <a href="https://medium.com/@davidmead" rel="me" class="u-url">Medium</a>
        </li>
        <li>
            <i class="las la-anchor"></i> <a href="https://anchor.fm/davidmead" rel="me" class="u-url">Anchor.FM</a>
        </li>
        <li>
            <i class="lab la-keybase"></i> <a href="https://keybase.io/davidmead" rel="me" class="u-url">KeyBase</a>
        </li>
        <li>
            <i class="lab la-foursquare"></i> <a href="https://foursquare.com/davidmead" rel="me" class="u-url">Foursquare</a>
        </li>
        <li>
            <i class="lab la-lastfm"></i> <a href="http://www.last.fm/user/DaveMead" rel="me" class="u-url">Last.FM</a>
        </li>
        <li>
            <i class="las la-calendar-day"></i> <a href="https://upcoming.org/@davidmead" rel="me" class="u-url">Upcoming</a>
        </li>
        <li>
            <i class="lab la-periscope"></i> <a href="https://www.periscope.tv/davidmead" rel="me" class="u-url">Periscope</a>
        </li>
        <li>
            <i class="lab la-ello"></i> <a href="http://ello.co/davidmead" rel="me" class="u-url">Ello</a>
        </li>
        <li>
            <i class="las la-link"></i> <a href="http://gentlemint.com/users/davidmead/" rel="me" class="u-url">Gentlemint</a>
        </li>
        <li>
            <i class="lab la-pinterest"></i> <a href="https://www.pinterest.com/davidmead/" rel="me" class="u-url">Pinterest</a>
        </li>
        <li>
            <i class="las la-link"></i> <a href="http://davidmead.listal.com/" rel="me" class="u-url">Listal</a>
        </li>
        <li>
            <i class="las la-link"></i> <a href="http://www.neonmob.com/@davidmead" rel="me" class="u-url">Neonmob</a>
        </li>
        <li>
            <i class="lab la-tumblr"></i> <a href="http://davidmead.tumblr.com/" rel="me" class="u-url">Tumblr</a>
        </li>
        <li>
            <i class="lab la-vine"></i> <a href="http://vine.co/davidjohnmead" rel="me" class="u-url">Vine</a>
        </li>
        <li>
            <i class="lab la-youtube"></i> <a href="http://www.youtube.com/user/davidjohnmead" rel="me" class="u-url">YouTube</a>
        </li>
        <li>
            <i class="las la-money-bill"></i> <a href="http://cash.me/$davidmead" rel="me" class="u-url">Cash.me</a>
        </li>
        <li>
            <i class="lab la-product-hunt"></i> <a href="https://www.producthunt.com/@davidmead" rel="me" class="u-url">Product Hunt</a>
        </li>
        <li>
            <i class="lab la-delicious"></i> <a href="http://del.icio.us/davidmead" rel="me" class="u-url">del.icio.us</a>
        </li>
        <li>
            <i class="lab la-codepen"></i> <a href="http://codepen.io/davidmead/" rel="me" class="u-url">Code Pen</a>
        </li>
        <li>
            <i class="lab la-mixcloud"></i> <a href="https://www.mixcloud.com/davidmead/" rel="me" class="u-url">Mixcloud</a>
        </li>
        <li>
            <i class="lab la-stack-overflow"></i> <a href="http://stackoverflow.com/users/4166790/david-mead" rel="me" class="u-url">Stack Overflow</a>
        </li>
        <li>
            <i class="lab la-reddit"></i> <a href="https://www.reddit.com/user/davidjohnmead/" rel="me" class="u-url">Reddit</a>
        </li>
        <li>
            <i class="lab la-twitch"></i> <a href="https://www.twitch.tv/davidmead" rel="me" class="u-url">Twitch</a>
        </li>
        <li>
            <i class="lab la-untappd"></i> <a href="https://untappd.com/user/davidmead" rel="me" class="u-url">Untappd</a>
        </li>
        <li>
            <i class="lab la-goodreads"></i> <a href="http://goodreads.com/davidmead" rel="me" class="u-url">Goodreads</a>
        </li>
	</ul>
	</div>
</section>
