---
title: Living and working on the web, with a British point of view.
description: The personal website of David Mead. A British guy living in the USA.

isFront: true


layout: layouts/layout-home
---
<div class="area-title">
<h1 class="title">Living and working on the web, with a British point of view.</h1>
<p class="summary">A personal site—The posted thoughts, photos, and bookmarks of David Mead.</p>
</div>
<section class="module-posts">
<h2>Most recent posts</h2>
<div class="tile-wrapper">
	{% for post in collections.post | reverse %}
		{% if loop.index0 < 3 %}
			<a class="tile-link" href="{{ post.url | url }}" title="">
			<div class="tile">
				<div class="tile-head">
					<time class="small collapse-top" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
				</div>
				<div class="tile-body">
					<p class="tile-heading">{{ post.data.title }}</p>
				</div>
				<!--
				{% if post.data.summary %}
				<div class="tile-foot">
					<p>{{ post.data.summary }}</p>
				</div>
				{% endif%}
				-->
			 </div>
			 </a>
		{% endif %}
	{% endfor %}
</div>
	<p class="">See <a href="/tags/post/" title="">all posts</a>.</p>
</section>

<section class="module-bookmarks pop2">
<h2>🔖 Bookmarks</h2>
<ul class="list-plain">
{% for post in collections.bookmark | reverse %}
		{% if loop.index0 < 3 %}
		<li class="border-bottom">
			<article class="h-entry">
		<p class="p-name collapse-bottom">
			<a class="u-bookmark-of h-cite" href="{{ post.data.description }}" title="" rel="external">{{ post.data.title }}</a>
		</p>
		<footer class="small collapse-top">
			<p class="collapse-top">Added on <a class="u-url" href="{{ post.url }}"><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></a>, from {{ post.data.summary }} <span class="p-author author h-card vcard hide"><img class="u-photo" width="300" height="300" src="/img/davidmead-social-sml.jp2" alt="Black and white photo of my face"><a class="p-name fn u-url url" href="https://davidjohnmead.com" rel="me">David Mead</a></span>
			</p>
		</footer>
	</article>
	</li>
		{% endif %}
	{% endfor %}
	</ul>
<p class="">See <a href="/bookmarks/" title="">all bookmarks</a>.</p>
</section>

<section class="module-topics">
<h2>🏷️ Tags</h2>
<ul class="list-plain tile-wrapper">
	<li class="tile txt-center">
		<a class="" href="/tags/listen/" title="all posts tagged listen">
		<div class="tile-body tile-heading">listen</div>
		</a>
	</li>
	<li class="tile txt-center">
		<a class="" href="/tags/play/" title="all posts tagged play">
		<div class="tile-body tile-heading">play</div>
		</a>
	</li>
	<li class="tile txt-center">
		<a class="" href="/tags/eat/" title="all posts tagged eat">
		<div class="tile-body tile-heading">eat</div>
		</a>
	</li>
	<li class="tile txt-center">
		<a class="" href="/tags/read/" title="all posts tagged read">
		<div class="tile-body tile-heading">read</div>
		</a>
	</li>
	<li class="tile txt-center">
		<a class="" href="/tags/watch/" title="all posts tagged watch">
		<div class="tile-body tile-heading">watch</div>
		</a>
	</li>
	<li class="tile txt-center">
		<a class="" href="/tags/code/" title="all posts tagged code">
		<div class="tile-body tile-heading">code</div>
		</a>
	</li>
	</ul>
	<p class="">See <a href="/taglist/" title="">all tags</a>.</p>
</section>


<section class="module-blogroll pop">
	<h2>Blogroll</h2>
	<ul class="list-plain columns">
	<li class=""><a href="https://www.ambientblog.net/blog/" class="h-card" rel="">Peter van Cooten</a></li>
		<li class=""><a href="https://www.lireo.com/blog/" class="h-card" rel="colleague">Deborah Edwards-Onoro</a></li>
		<li class=""><a href="https://waxy.org" class="h-card" rel="met">Andy Baio</a></li>
		<li class=""><a href="https://daringfireball.net" class="h-card" rel="">John Gruber</a></li>
		<li class=""><a href="http://scripting.com" class="h-card" rel="">Dave Winer</a></li>
		<li class=""><a href="https://interconnected.org/home/" class="h-card" rel="">Matt Webb</a></li>
		<li class=""><a href="https://ctmiller.net" class="h-card" rel="friend met">Chris Miller</a></li>
		<li class=""><a href="https://www.bridgestew.com" class="h-card" rel="friend met">Bridget Stewart</a></li>
		<li class=""><a href="https://adactio.com" class="h-card" rel="colleague met">Jeremy Keith</a></li>
		<li class=""><a href="https://werd.io" class="h-card" rel="colleague">Ben Werdmüller</a></li>
		<li class=""><a href="https://stuffandnonsense.co.uk" class="h-card" rel="colleague">Andy Clarke</a></li>
		<li class=""><a href="https://karlhyde.underworldlive.com" class="h-card" rel="">Karl Hyde</a></li>
		<li class=""><a href="https://warrenellis.ltd" class="h-card" rel="met acquaintance">Warren Ellis</a></li>
		<li class=""><a href="https://kottke.org" class="h-card" rel="">Jason Kottke</a></li>
		<li class=""><a href="https://lucybellwood.com" class="h-card" rel="">Lucy Bellwood</a></li>
		<li class=""><a href="https://martinbelam.com" class="h-card" rel="colleague met">Martin Belam</a></li>
		<li class=""><a href="https://www.robinrendle.com" class="h-card" rel="colleague">Robin Rendle</a></li>
		<li class=""><a href="https://colly.com" class="h-card" rel="">Simon Collinson</a></li>
		<li class=""><a href="https://tantek.com" class="h-card" rel="colleague met">Tantek Çelik</a></li>
		<li class=""><a href="https://atlasminor.com" class="h-card" rel="">James A. Reeves</a></li>
		<li class=""><a href="https://boffosocko.com" class="h-card" rel="">Chris Aldrich</a></li>
		<li class=""><a href="https://craigmod.com" class="h-card" rel="">Craig Mod</a></li>
		<li class=""><a href="https://disquiet.com" class="h-card" rel="">Marc Weidenbaum</a></li>
		<li class=""><a href="https://jamesg.blog" class="h-card" rel="">James</a></li>
		<li class=""><a href="https://www.manton.org" class="h-card" rel="colleague">Manton Reece</a></li>
		<li class=""><a href="http://joshuajohnmead.com" class="h-card" rel="child met">Joshua Mead</a></li>
		<li class=""><a href="http://julieannmead.com" class="h-card" rel="spouse sweetheart met">Julie Mead</a></li>
	</ul>
	<p><a href="/Subscriptions-DJMFeeds.opml" title="OPML file">All feeds I read</a></p>
</section>

<section class="module-about p-author h-card">
	<div class="clearfix">
		<h2>About <span class="p-name"><a class="u-url url fn" href="https://davidjohnmead.com" rel="me"><span class="p-given-name given-name">David</span><span class="p-family-name family-name">Mead</span></a></span></h2>
		<p><img class="u-photo left img-small img-border" width="200" height="200" src="/img/davidmead-social-sml.jp2" alt="black and white profile photo"></p>
		<div class="p-note">
			<p>I'm an Englishman abroad, calling the U.S.A. "Home" since 2001.</p>
			<p>Designing & building things on the web since the 90's. Starting as Front-end Developer, my focus now is User Experience.</p>
			<p>There's no expectation that anyone will ever read what's here. But I do enjoy jotting down my thoughts, memories, and experiences.</p>
		</div>
	</div>

	<div>
		<h3>Elsewhere online:</h3>
		<ul class="list-plain columns">
			<li><a href="https://letterboxd.com/davidmead/" rel="me" class="u-url">Letterboxd</a></li>
        	<li><a href="https://github.com/davidmead" rel="me" class="u-url">Github</a></li>
        	<li><a href="https://www.linkedin.com/in/davidmead" rel="me" class="u-url">LinkedIn</a></li>
        	<li><a href="https://www.flickr.com/people/davidmead/" rel="me" class="u-url">Flickr</a></li>
        	<li><a href="https://soundcloud.com/davidmead-1" rel="me" class="u-url">Soundcloud</a></li>
        	<li><a href="https://indieweb.org/User:Davidjohnmead.com" rel="me" class="u-url">Indieweb</a></li>
        	<li><a href="https://huffduffer.com/davidmead" rel="me" class="u-url">Huffduffer</a></li>
        	<li><a href="https://micro.blog/davidmead" rel="me" class="u-url">Micro.blog</a></li>
        	<li><a href="https://medium.com/@davidmead" rel="me" class="u-url">Medium</a></li>
        	<li><a href="https://anchor.fm/davidmead" rel="me" class="u-url">Anchor.FM</a></li>
        	<li><a href="https://keybase.io/davidmead" rel="me" class="u-url">KeyBase</a></li>
        	<li><a href="https://foursquare.com/davidmead" rel="me" class="u-url">Foursquare</a></li>
        	<li><a href="https://www.last.fm/user/DaveMead" rel="me" class="u-url">Last.FM</a></li>
        	<li><a href="https://upcoming.org/@davidmead" rel="me" class="u-url">Upcoming</a></li>
        	<!--<li><del>Periscope</del></li>-->
			<!--<li><del>Facebook</del></li>-->
        	<li><a href="https://ello.co/davidmead" rel="me" class="u-url">Ello</a></li>
        	<!--<li><del>Gentlemint</del></li>-->
        	<li><a href="https://www.pinterest.com/davidmead/" rel="me" class="u-url">Pinterest</a></li>
        	<li><a href="http://davidmead.listal.com/" rel="me" class="u-url">Listal</a></li>
        	<li><a href="https://www.neonmob.com/davidmead/collection/" rel="me" class="u-url">Neonmob</a></li>
        	<li><a href="http://davidmead.tumblr.com/" rel="me" class="u-url">Tumblr</a></li>
        	<li><a href="https://vine.co/davidjohnmead" rel="me" class="u-url">Vine</a></li>
        	<li><a href="https://www.youtube.com/user/davidjohnmead" rel="me" class="u-url">YouTube</a></li>
        	<!--<li><del>Cash.me</del></li>-->
        	<li><a href="https://www.producthunt.com/@davidmead" rel="me" class="u-url">Product Hunt</a></li>
        	<li><a href="https://del.icio.us/davidmead" rel="me" class="u-url">del.icio.us</a></li>
        	<li><a href="https://codepen.io/davidmead/" rel="me" class="u-url">Code Pen</a></li>
        	<li><a href="https://m.mixcloud.com/davidmead/" rel="me" class="u-url">Mixcloud</a></li>
        	<li><a href="https://stackoverflow.com/users/4166790/david-mead" rel="me" class="u-url">Stack Overflow</a></li>
        	<li><a href="https://www.reddit.com/user/davidjohnmead/" rel="me" class="u-url">Reddit</a></li>
        	<li><a href="https://www.twitch.tv/davidmead" rel="me" class="u-url">Twitch</a></li>
        	<li><a href="https://untappd.com/user/davidmead" rel="me" class="u-url">Untappd</a></li>
        	<li><a href="https://www.goodreads.com/user/show/91778136-david-mead" rel="me" class="u-url">Goodreads</a></li>
			<!--<li><del>Twitter</del></li>-->
		</ul>
	</div>
</section>
