---
layout: layouts/layout-page


---
<h1 class="title txt-center">All <span class="p-category">tags</span></h1>

<section id="tags-number-of-posts">
<ul class="list-plain columns">
  {% for tag, posts in collections | dictsort %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
   <li><a href="{{ tagUrl | url }}">{{ tag }}</a> ({{ posts | length }})</li>
  {% endfor %}
  </ul>
</section>