---
layout: layouts/layout-page


pagination:
  data: collections
  size: 1
  reverse: true
  alias: tag
permalink: /tags/{{ tag }}/

---
<h1 class="title txt-center">Everything <span class="p-category">{{ tag }}</span></h1>

<dl class="wrapper-taglist">
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <dt class="collapse-bottom"><a href="{{ post.url | url }}">{{ post.data.title }}</a></dt>
  <dd class="small collapse-top"><time  class="" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></dd>
  
{% endfor %}
</dl>