---
layout: layouts/layout-base.njk

---
<main>
	<article class="h-entry">
		<h1 class="title txt-center p-name">{{ title }}</h1>
		<p class="p-summary"><i class="la la-camera-retro"></i> {{ summary }}</p>
		<div class="e-content">
			<!--<p><img class="u-photo img-polaroid" src="{{ imgSRC }}" alt="{{ imgALT }}"></p>-->
			{{ content | safe }}
		</div>
		<footer class="meta">
			<h2>Meta</h2>
			<p>Originally posted on <time class="dt-published" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>, by <span class="p-author author h-card vcard"><img class="u-photo hide" src="/img/davidmead-social.jpg" alt="Black and white photo of my face"><a class="p-name fn u-url url" href="https://davidjohnmead.com" rel="me">David Mead</a></span>.</p>
			<p>Tagged:
				{% for item in tags %}
				<span>
                    <a class="p-category" href="/tags/{{ item }}" title="all posts tagged {{ item }}" rel="tag"><i class="la la-tag"></i> {{ item }}</a>
                 </span>
                {% endfor %}
			 </p>
			<p>Link to, or bookmark, here using this <a class="u-url" href="{{ page.url | url }}" title="{{ title }}">permalink</a>.
			{% if urlTwitter or urlInstagram or urlFlickr %}
 		<p>I also posted this on:

{% if urlTwitter %}
<i class="lab la-twitter"></i><a class="u-syndication" href="{{ urlTwitter }}" title="view on Twitter" rel="syndication">Twitter</a>{% endif %}
{% if urlInstagram %}
<i class="lab la-instagram"></i><a class="u-syndication" href="{{ urlInstagram }}" title="view on Instagram" rel="syndication">Instagram</a>{% endif %}
{% if urlFlickr %}
<i class="lab la-flickr"></i><a class="u-syndication" href="{{ urlFlickr }}" title="view on Flickr" rel="syndication">Flickr</a>
{% endif %}</p>
{% else %}<p>I only posted this here.</p>{% endif %}
		</footer>
	</article>
</main>