---
layout: layouts/layout-base.njk

---
<main id="maincontent">
	<article class="h-entry">
		<h1 class="title p-name">{{ title }}</h1>
		<p class="summary">{{ summary }}</p>
		<div class="e-content">

		<figure class="attributes">
		<img class="u-photo img-cover" src="{{ imgSRC }}" alt="{{ imgALT }}">

		<figcaption>

		<dl class="list-attributes">
				<dt>Artist</dt>
				<dd>{{ artistNAME }}</dd>
				<dt>Title</dt>
				<dd>{{ albumTITLE }}</dd>
				<dt>Website</dt>
				<dd><a href="{{ artistURL | url }}" title="Read more about {{ artistNAME }}">{{ artistURL }}</a></dd>
				<dt>Buy from</dt>
				<dd><a href="{{ purchaseURL | url }}" title="Not an affiliate link">{{ purchaseDOMAIN }}</a></dd>
			</dl>
		</figcaption>
		</figure>

			<div class="thoughts">{{ content | safe }}</div>
			</div>
		</div>
		<footer class="meta">
			<h2>Meta</h2>
			<p>Originally posted on <time class="dt-published" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>, by <span class="p-author author h-card vcard"><img class="u-photo hide" width="300" height="300" src="/img/davidmead-social-sml.jp2" alt="Black and white photo of my face"><a class="p-name fn u-url url" href="https://davidjohnmead.com" rel="me">David Mead</a></span>.</p>

			{% if updated %}
			<p>Updated on <time class="dt-published" datetime="{{ updated | dateIso }}">{{ updated | dateReadable }}</time>
			{% endif %}

 		{% if urlTwitter or urlInstagram or urlFlickr %}
 		<p>I also posted this on:

{% if urlTwitter %}
<i class="lab la-twitter"></i><a class="u-syndication" href="{{ urlTwitter }}" title="view on Twitter" rel="syndication">Twitter</a>{% endif %}
{% if urlInstagram %}
<i class="lab la-instagram"></i><a class="u-syndication" href="{{ urlInstagram }}" title="view on Instagram" rel="syndication">Instagram</a>{% endif %}
{% if urlFlickr %}
<i class="lab la-flickr"></i><a class="u-syndication" href="{{ urlFlickr }}" title="view on Flickr" rel="syndication">Flickr</a>
{% endif %}</p>
{% else %}<p>I only posted this here.</p>{% endif %}

<p>Link to, or bookmark, here using this <a class="u-url" href="{{ page.url | url }}" title="{{ title }}">permalink</a>.

			<h3>Tags</h3>
			<ul class="list-plain list-inline">
				{% for item in tags %}
				<li>
                    🏷️ <a class="p-category" href="/tags/{{ item }}" title="all posts tagged {{ item }}" rel="tag">{{ item }}</a>
                 </li>
                {% endfor %}
			 </ul>
		</footer>
	</article>
</main>