---
layout: layouts/layout-base.njk

---
<main>
	<article class="h-entry">
		<h1 class="p-name">{{ title }}</h1>
		<p class="">🔖 <a class="u-bookmark-of h-cite" href="{{ description }}" title="" rel="external">{{ summary }}</a></p>
		<div class="e-content">
			{{ content | safe }}
		</div>
		<footer class="meta">
			<h2>Meta</h2>
			<p>Added on <time class="dt-published" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>, by <span class="p-author author h-card vcard"><img class="u-photo hide" width="300" height="300" src="/img/davidmead-social-sml.jp2" alt="Black and white photo of my face"><a class="p-name fn u-url url" href="https://davidjohnmead.com" rel="me">David Mead</a></span>.</p>
			
			{% if updated %}
			<p>Updated on <time class="dt-published" datetime="{{ updated | dateIso }}">{{ updated | dateReadable }}</time>
			{% endif %}
			
 		{% if urlTwitter or urlInstagram or urlFlickr or urlMedium %}
 		<p>I also posted this on:

{% if urlTwitter %}
<i class="lab la-twitter"></i><a class="u-syndication" href="{{ urlTwitter }}" title="view on Twitter" rel="syndication">Twitter</a>{% endif %}
{% if urlInstagram %}
<i class="lab la-instagram"></i><a class="u-syndication" href="{{ urlInstagram }}" title="view on Instagram" rel="syndication">Instagram</a>{% endif %}
{% if urlFlickr %}
<i class="lab la-flickr"></i><a class="u-syndication" href="{{ urlFlickr }}" title="view on Flickr" rel="syndication">Flickr</a>
{% endif %}
{% if urlMedium %}
<i class="lab la-medium"></i><a class="u-syndication" href="{{ urlMedium }}" title="view on Medium" rel="syndication">Medium</a>{% endif %}</p>
{% else %}<p>I only posted this here.</p>{% endif %}

<p>Link to, or bookmark, here using this <a class="u-url" href="{{ page.url | url }}" title="{{ title }}">permalink</a>.

			<h3>Tags</h3>
			<ul class="list-plain list-inline">
				{% for item in tags %}
				<li>
                    <a class="p-category" href="/tags/{{ item }}" title="all posts tagged {{ item }}" rel="tag">{{ item }}</a>
                 </li>
                {% endfor %}
			 </ul>
		</footer>
	</article>
</main>