---

---
<!DOCTYPE html>
<html lang="en-US">
    <head profile="http://gmpg.org/xfn/11">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
		<meta name="robots" content="index, follow">
		<!--<base href="{{ metadata.url }}">-->
		<link rel="author" href="/humans.txt">
		<link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}">
		<!--<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">-->
		<link rel="alternate" type="application/rss+xml" title="Subscribe to What's New" href="/feed/feed.xml" />

		<!-- Webmentions -->
		<link rel="webmention" href="https://webmention.io/davidjohnmead.com/webmention" />
		<link rel="pingback" href="https://webmention.io/davidjohnmead.com/xmlrpc" />

		<!-- IndieAuth -->
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

		<!-- Microsub -->
		<link rel="microsub" href="https://aperture.p3k.io/microsub/195">

		<!-- Fonts Loaded Here -->

		<!-- Icons Loaded Here -->

		<!-- CSS Loaded Here -->
		<link rel="stylesheet" href="{{ '/css/djm-flat.css' }}">

		<title>{{ title }}</title>
	</head>

	<body class="">
		<header class="pg-header">
			{% if isFront %}
			<!--
			{% endif %}
			<nav>
				<p class="txt-center"><a href="/" title="read about the person writing this">home</a></p>
			</nav>
			{% if isFront %}
			-->
			{% endif %}
		</header>
		{{ content | safe }}
		<footer class="pg-footer txt-center">
			<p><small>&copy; 2005-2021 David Mead</small></p>
			<p><a href="{{ metadata.url }}/feed/feed.xml" title="Subscribe via RSS">RSS feed</a></p>
		</footer>
	</body>
</html>